<div class="shop">
	<div class="posts">
		<div class="post">
			<figure class="text-center item">
				<img src="/public/img/02-verkami-apadrina-una-lletra-artinpocket-regular-10-euros.jpg">
				<figcaption>	
					<div class="item simpleCart_shelfItem" id="item-01">
						<p class="item_name"><small>artinpocket/inversa - Aportació per finançar la presentació - 10 euros</small></p>
						<p>
							<input type="text" value="1" class="item_Quantity form-control input-sm">
							<span class="item_price">€10</span><br/>
							<a class="item_add btn btn-primary" href="javascript:;">Afegeix al carretó <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="post">
			<figure class="text-center item">
				<img src="/public/img/04-verkami-apadrina-una-lletra-artinpocket-regular-35-euros.jpg">
				<figcaption>	
					<div class="item simpleCart_shelfItem" id="item-02">
						<p class="item_name"><small>artinpocket/inversa - Aportació per finançar la presentació - 35 euros</small></p>
						<p>
							<input type="text" value="1" class="item_Quantity form-control input-sm">
							<span class="item_price">€35</span><br/>
							<a class="item_add btn btn-primary" href="javascript:;">Afegeix al carretó <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="post">
			<figure class="text-center item">
				<img src="/public/img/05-verkami-apadrina-una-lletra-artinpocket-regular-75-euros.jpg">
				<figcaption>	
					<div class="item simpleCart_shelfItem" id="item-02">
						<p class="item_name"><small>artinpocket/inversa - Aportació per finançar la presentació - 75 euros</small></p>
						<p>
							<input type="text" value="1" class="item_Quantity form-control input-sm">
							<span class="item_price">€75</span><br/>
							<a class="item_add btn btn-primary" href="javascript:;">Afegeix al carretó <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	<hr style="clear:both" />
	<div class="well">
		<div class="simpleCart_items"></div>
		<p class="text-right"><span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span></p>
		<p class="text-right"><a href="javascript:;" class="simpleCart_empty btn btn-danger">Buida el carretó <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
		<p class="text-right"><a href="javascript:;" class="simpleCart_checkout btn btn-success">Paga <span class="glyphicon glyphicon-ok"></span></a></p>
	</div>
</div>